@model UserManagementSystem.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}
<style>
    .resetpwd-container {
        border: 1px solid #333;
        padding: 30px 40px;
        border-radius: 6px;
        max-width: 600px;
        margin: 50px auto;
    }

    .resetpwd-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: 500;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .form-group label {
            width: 160px;
            margin-right: 10px;
            text-align: right;
        }

        .form-group input {
            flex: 1;
        }

    .btn-container {
        text-align: center;
        margin-top: 20px;
    }

    span.field-validation-error {
        display: block !important; 
        margin-top: 5px;
        color: red; 
        font-size: 0.9rem;
    }
</style>

<div class="resetpwd-container">
    <div class="resetpwd-title">Reset Password</div>

    <form asp-action="ResetPassword" method="post">
        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="NewPassword" class="form-label">Password</label>
            <input asp-for="NewPassword" class="form-control" />
            <span class="field-validation-error" asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span class="field-validation-error" asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <div class="btn-container">
            <button type="submit" class="btn btn-outline-dark px-4 py-2">Reset Password</button>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger text-center mt-3">
                @ViewBag.Message
            </div>
        }
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var hasMessage = '@TempData["PopupMessage"]'.trim();
        if (hasMessage !== '') {
            var myModal = new bootstrap.Modal(document.getElementById('popupModal'));
            myModal.show();
        }

    </script>
}
